# Logs
run_*.log
*.log

# Python
__pycache__
*.pyc
*.pyo
*.pyd
venv/

# Files
*~
.env
.env.local
.env.*.local
main.o
.*#

# Build outputs
/backend/main
/frontend/build
/frontend/.cache

# Dependencies
node_modules/
vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
