[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=<DIR>/<BIN>
WorkingDirectory=<DIR>

[Install]
WantedBy=multi-user.target